[submodule "nginx.service"]
	path = nginx.service
	url = https://gitlab.com/benoit.lavorata/nginx.service.git
[submodule "ide.service"]
	path = ide.service
	url = https://gitlab.com/benoit.lavorata/ide.service.git
[submodule "registry.service"]
	path = registry.service
	url = https://gitlab.com/benoit.lavorata/registry.service.git
[submodule "metabase.service"]
	path = metabase.service
	url = https://gitlab.com/benoit.lavorata/metabase.service.git
[submodule "rainloop.service"]
	path = rainloop.service
	url = https://gitlab.com/benoit.lavorata/rainloop.service.git
[submodule "nodered.service"]
	path = nodered.service
	url = https://gitlab.com/benoit.lavorata/nodered.service.git
[submodule "mqtt.service"]
	path = mqtt.service
	url = https://gitlab.com/benoit.lavorata/mqtt.service.git
[submodule "pgadmin.service"]
	path = pgadmin.service
	url = https://gitlab.com/benoit.lavorata/pgadmin.service.git
[submodule "mattermost.service"]
	path = mattermost.service
	url = https://gitlab.com/benoit.lavorata/mattermost.service.git
[submodule "relay.service"]
	path = relay.service
	url = https://gitlab.com/benoit.lavorata/relay.service.git
[submodule "portainer.service"]
	path = portainer.service
	url = https://gitlab.com/benoit.lavorata/portainer.service.git
[submodule "watchtower.service"]
	path = watchtower.service
	url = https://gitlab.com/benoit.lavorata/watchtower.service.git
