[submodule "nginx.service"]
	path = nginx.service
	url = https://gitlab.com/benoit.lavorata/nginx.service.git
[submodule "ide.service"]
	path = ide.service
	url = https://gitlab.com/benoit.lavorata/ide.service.git
[submodule "registry.service"]
	path = registry.service
	url = https://gitlab.com/benoit.lavorata/registry.service.git
[submodule "metabase.service"]
	path = metabase.service
	url = https://gitlab.com/benoit.lavorata/metabase.service.git
[submodule "rainloop.service"]
	path = rainloop.service
	url = https://gitlab.com/benoit.lavorata/rainloop.service.git
